<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <style type="text/css">
        .ng-invalid.ng-dirty {
            border-color: #FA787E;
        }

        .ng-valid.ng-dirty {
            border-color: #78FA89;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Shaping up with Angular.js</a>
            </div>
        </div>    
    </div>
    <div ng-controller="StoreController as store" class="well">
        <ul class="list-group">
            <li ng-repeat="product in store.products" class="list-group-item">
                {{product.name}}
                <img ng-src="{{product.images[0]}}" />
                <section ng-controller="PanelController as panel">
                    <ul class="nav nav-tabs">
                    	<li ng-class="{active: panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
                    	<li ng-class="{active: panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
                    	<li ng-class="{active: panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li> 
                    </ul>
                    <div class="panel panel-default" ng-show="panel.isSelected(1)">
                        <div class="panel-heading">
                            Description
                        </div>
                        <div class="panel-body">
                            {{product.description}}
                        </div>
                    </div>
                    <div class="panel panel-default" ng-show="panel.isSelected(2)">
                        <div class="panel-heading">
                            Specifications
                        </div>
                        <div class="panel-body">
                            No Specs Defined
                        </div>
                    </div>
                    <div class="panel panel-default" ng-show="panel.isSelected(3)">
                        <div class="panel-heading">
                            Reviews
                        </div>
                        <div class="panel-body">
                            <blockquote ng-repeat="review in product.reviews">
                                <b>Stars: {{review.stars}}</b><br/>
                                {{review.body}}<br/>
                                <cite>by: {{review.author}} <span ng-show="review.createdOn">on {{review.createdOn | date}}</span></cite>
                            </blockquote>
                            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid &&reviewCtrl.addReview(product)" novalidate>
                                <blockquote>
                                    <b>Stars: {{reviewCtrl.review.stars}}</b><br/>
                                    {{reviewCtrl.review.body}}<br/>
                                    <cite>by: {{reviewCtrl.review.author}}</cite>
                                </blockquote>
                                <div class="form-group"> 
                                    <select ng-model="reviewCtrl.review.stars" class="form-control" required>
                                        <option value disabled selected>Rate the product...</option>
                                        <option value="5">5 Stars</option>
                                        <option value="4">4 Stars</option>
                                        <option value="3">3 Stars</option>
                                        <option value="2">2 Stars</option>
                                        <option value="1">1 Star</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Enter the gem review" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label>by:</label>
                                    <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="joe@home.com" required/>
                                </div>
                                <!-- Debugging -->
                                <div>
                                    reviewForm is {{reviewForm.$valid}}
                                </div>

                                <input type="submit" value="Submit" class="btn btn-default"/>
                            </form>                            
                        </div>                        
                    </div>
                </section>
            </li>
        </ul>
        </div>
    </div>    
</body>
</html>