<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Shaping up with Angular.js</a>
            </div>
        </div>    
    </div>
    <div ng-controller="StoreController as store" class="well">
        <ul class="list-group">
            <li ng-repeat="product in store.products" class="list-group-item">
                {{product.name}}
                <img ng-src="{{product.images[0]}}"/>
                <ul class="nav nav-tabs" ng-init="tab = 1">
                	<li ng-class="{active: tab === 1}"><a href ng-click="tab = 1">Description</a></li>
                	<li ng-class="{active: tab === 2}"><a href ng-click="tab = 2">Specifications</a></li>
                	<li ng-class="{active: tab === 3}"><a href ng-click="tab = 3">Reviews</a></li> 
                </ul>
                <div class="panel panel-default" ng-show="tab === 1">
                    <div class="panel-heading">
                        Description
                    </div>
                    <div class="panel-body">
                        No Description available
                    </div>
                </div>
                <div class="panel panel-default" ng-show="tab === 2">
                    <div class="panel-heading">
                        Specifications
                    </div>
                    <div class="panel-body">
                        No Specs Defined
                    </div>
                </div>
                <div class="panel panel-default" ng-show="tab === 3">
                    <div class="panel-heading">
                        Reviews
                    </div>
                    <div class="panel-body">
                        No Reviews Yet
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>    
</body>
</html>